/* Inter Family */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-display: swap; 
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-display: swap; 
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-display: swap; 
}

/* Roboto Serif Family */

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Serif/RobotoSerif-Regular.ttf") format("truetype");
  font-display: swap; 
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Serif/RobotoSerif-Medium.ttf") format("truetype");
  font-display: swap; 
}
