/* Inter Family */

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  /* font-display: swap; */
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  /* font-display: swap; */
}

/* Roboto Serif Family */

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  /* font-display: swap; */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  /* font-display: swap; */
}
